@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts';
@import './colors';

@layer components {
	.header {
		@apply flex flex-row justify-between items-center;

		&__logo {
			@apply order-1 lg:order-1;
		}

		&__nav {
			@apply order-3  flex flex-col bg-bgcolor200 absolute right-0 top-36 w-full h-auto p-10 text-8xl text-bgwhite font-medium animate-wiggle z-10;

			* {
				@apply w-full py-8 pl-4 hover:border-4 hover:border-bgcolor100 hover:transition-all hover:duration-700 hover:ease-out;
			}

			:not(:first-child) {
				@apply mt-14;
			}
		}

		&__menuIcon {
			@apply order-2 lg:hidden cursor-pointer text-7xl;
		}
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 62.5%;
}
body {
	overflow-x: hidden;
}

.header {
	&__logo {
		font-family: $mainFont;
		font-weight: 700;
		font-size: 6rem;
		text-transform: uppercase;
	}
}

hr {
	margin: 0 auto;
	width: 90%;
	height: 1rem;
	border: none;
	box-shadow: 0px 30px 50px 0px rgba(187, 148, 87, 0.8);
}
